
.container {
    padding: 0 200px;
    margin: 0 auto;
}

.blackout {
    background: url(image/stag-office-mockup.png) no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 743px;
}

.blackout:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(47, 50, 75, 0.85);
}


.page__header {
    position: relative;
}

.header__title {
    font-weight: 900;
    font-size: 52px;
    text-align: center;
    margin-bottom: 35px;
    line-height: 61px;
    color: rgba(255, 255, 255, 0.86);
}

.header__header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 120px 0;
    align-items: center;
}

.header__telephone {
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.header__subtext {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    position: relative;
    color: white;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header__subtext:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 130px;
    height: 1px;
    right: 39px;
}

.header__subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    white-space: pre-line;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 90px;
    line-height: 31px;
}

.header__button {
    background: #15A9CB;
    box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
    border-radius: 50px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin-bottom: 120px;
    line-height: 23px;
    padding: 12px 48px;
}

.header__button-center {
    text-align: center;
}

.header__photo {
    display: none;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 30px;
    }
    .header__title {
        font-size: 40px;
        text-align: center;
        margin-bottom: 28px;
        line-height: 47px;
    }
    .header__subtext {
        font-size: 18px;
        line-height: 25px;
        white-space: nowrap;
    }
    .header__button {
        margin-bottom: 70px;
    }
    .blackout {
        min-height: 552px;
    }
    .header__header {
        padding: 26px 0 70px 0;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .header__telephone {
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    .container {
        padding: 0 15px;
    }
    .header__logo {
        width: 30px;
        height: 30px;
    }
    .blackout {
        min-height: 441px;
    }
    .header__contacts {
        display: none;
    }
    .header__photo {
        display: block;
        width: 30px;
        height: 30px;
    }
    .header__title {
        font-size: 20px;
        margin-bottom: 23px;
        line-height: 23px;
    }
    .header__subtitle {
        font-size: 14px;
        margin-bottom: 54px;
        line-height: 20px;
        white-space: normal;
    }
    .header__button {
        margin-bottom: 65px;
    }
    .blackout {
        min-height: 552px;
    }
    .header__header {
        padding: 26px 0 70px 0;
        align-items: center;
    }
}
