@import "normalize.css";
@import "start.css";
@import "header.css";
@import "advantage.css";
@import "questions.css";
@import "footer.css";
@import "footer-mobile.css";

.page {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

